:root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --tertiary-color: #0863f7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
}


/* HEADER / NAV BAR STYLES START */

header {
  padding: 20px 35px;
  background-color: #39a6b2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-image: url("../images/headerBike.jpg");
  /*background-size: cover;*/
  background-attachment: fixed;
  background-position: 50%;
  /*background-position-x: 10px;*/
  background-position-y: -19%;
  z-index: 9999;
}

header h1 {
  font-weight: bolder;
  margin: 0;
  font-size: 36px;
  color: #0863f7;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 1),
  1px -1px 1px rgba(255, 255, 255, 1),
  -1px -1px 0 rgb(129, 128, 128);
  display: flex;
  flex-wrap: wrap;

}

.rauch {
  color: #fff;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 1),
  1px -1px 0 rgba(0, 0, 0, 1),
  -1px -1px 0 rgba(0, 0, 0, 1);
}

header a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  color: white;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: normal;
  font-size: 1.55vw;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 1),
                1px -1px 0 rgba(0, 0, 0, 1),
                -1px -1px 0 rgba(0, 0, 0, 1);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* HEADER / NAVBAR STYLES END */

/* top box section starts here */
.top-box {  
  margin: 0px;
  background-position: center;
  background-position-y: 35%;
  background-size: 100%;
  height: 200px;
  position: relative;
  background-image: url("../images/top-box3.jpg");
  display: flex;
  /*justify-content: center;*/
  /*flex-wrap: wrap;*/
}

.top-box h1 {
  font-style: italic;
  font-size: 25px;
  color: rgb(7, 0, 0);
  text-shadow: -.5px .5px 1px rgb(253, 250, 249),
  .5px -.5px 0 rgb(177, 171, 171),
  -.5px -.5px 0 rgb(122, 121, 121);
  position: absolute;
  bottom: 0vh;
  right: 0px;
  display: flex;
  /*flex-wrap: wrap;*/
}
/* top box section ends here */


/* FOOTER STYLES START */
footer {
  background: var(--primary-color)
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: var(--secondary-color);
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: var(--secondary-color);
}
/* END FOOTER STYLES */

/* STYLE ALL SECTION TAGS */
section {
  padding: 60px;
}

/* HERO STYLES START */
.hero {
  /*display: flex;
  jusify-content: center;
  flex-wrap: wrap;
  /*align-items: flex-start;*/
  background-color: white;

}

#about-me {
  /*position: relative;*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 10px solid red;

}
.side {
  margin-left: 100px;
  font-size: 30px;
  /*width: 100px;*/
  background-color: rgb(194, 20, 20);
  text-align: right;
  border-right: 10px solid var(--secondary-color);
  
}

.my-info {
  color: white;
  margin: 10px;
  padding: 20px;
  left: 10px;
  background-color: #fce138;
  background-image: url('../images/aboutMe.jpg');
  /*position: absolute;*/
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  border-left-style: solid;
  border-left-color: var(--secondary-color);
  border-left-width: 50px;
}

.MyInfo h1 {
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 1),
  1px -1px 0 rgba(0, 0, 0, 1),
  -1px -1px 0 rgba(0, 0, 0, 1);
}






/* SECTION TITLE STYLES START */
.section-title {
  font-size: 48px;
  border-bottom: 3px solid;
  color: var(--secondary-color);
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: var(--primary-color);
}

.secondary-border {
  border-color: #39a6b2;
}
/* SECTION TITLE STYLES END */

/* WHAT WE DO STYLES */

.intro p {
  line-height: 1.7;
  color: #39a6b2;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}
/* WHAT YOU DO STYLES END */


/* WHAT YOU DO STYLES START */
.steps { 
  background: var(--primary-color);
}

.step {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  border-bottom: 1px solid #39a6b2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.step:last-child {
  border-bottom: none;
}

.step h3 {
  color: var(--secondary-color);
  font-size: 46px;
  flex: 1 30%;
}

.step-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.step-img {
  flex: 1 12%;
  margin-right: 20px;
}

.step-img img {
  max-width: 100%;
}

.step-text {
  flex: 12;
}

.step-text p {
  color: #39a6b2;
  font-size: 18px;
}

.step-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: var(--secondary-color);
}
/* WHAT YOU DO STYLES END */

/
/* REACH OUT STYLES START */
.contact {
  background: var(--secondary-color);
}

.contact h2 {
  color: var(--primary-color);
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-info iframe {
  height: 400px;
}

.contact-info div {
  color: white;
}

.contact-info h3 {
  color: var(--primary-color);
  font-size: 32px;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-form input, .contact-form textarea {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.75);
}

.contact-form input:focus, .contact-form textarea:focus {
  background-color: rgba(255,255,255, 1);
  outline: none;
}

.contact-form button {
  width: 100%;
  border: none;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}

.contact-form button:hover {
  color: var(--primary-color);
  background: #39a6b2;
}

.contact-info a {
  color: var(--primary-color);
}
/* REACH OUT STYLES END */

/* UTILITIES */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .hero-cta, .hero-form {
    width: 100%;
  }
  
  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }
  
  .trainer {
    flex: 0 70%;
  }
  
  .contact-info iframe{
    flex: 1 100%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }

  .trainer-bio h3, .trainer-bio h4 {
    display: block;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .contact-form {
    order: 3;
  }
}